@import '../../common/scss/variables.scss';

#news {
  background-image: url('../../common/img/general/bg2.png');
  background-repeat: no-repeat;
  background-position: top left;
  width: 100%;
  overflow: hidden;

}
