@import '../../common/scss/variables.scss';

// typography
.newsgroup-pagination__item {
	font-family: Inter;
	font-size:   $fontSize18;
	font-style:  $fontStyleNormal;
	font-weight: $fontWeight400;
	line-height: $lineHeight22;
	color:       $elevenfold;
	&.active {
		font-family: Inter;
		font-size:   $fontSize18;
		font-style:  $fontStyleNormal;
		font-weight: $fontWeight700;
		line-height: $lineHeight22;
		color:       $primary;
	}
}
///////////////////////////////
#newsgroup-pagination {
  display: block;
  position: relative;
  top: 70px;
  left: 42px;
  margin-bottom: 171px;
  cursor: pointer;
  .newsgroup-pagination__item {
    display: inline;
    list-style-type: none;
    margin-right: 4px;
    padding: 0 5px;
    &.active {
      border-bottom: 2px solid $sixfold;
    }
    &:hover {
      border-bottom: 2px solid $sixteenfold;
    }
  }
}