extends common/head
include blocks/header
include blocks/title
include blocks/breadcrumbs
include blocks/caption
include blocks/block10
include blocks/block12
include blocks/block7
include blocks/block11
include blocks/block9
include blocks/block9-d
include blocks/block14