@import '../../../common/scss/variables.scss';

// typography
#contacts-form,
.contacts-form__textarea,
.contacts-form__input {
  font-family: Inter;
	font-size:   $fontSize14;
	font-style:  $fontStyleNormal;
	font-weight: $fontWeight500;
	line-height: $lineHeight17;
	color:       $elevenfold;
}
#contacts-form__button {
  font-family: Inter;
	font-size:   $fontSize16;
	font-style:  $fontStyleNormal;
	font-weight: $fontWeight700;
	line-height: $lineHeight24;
	color:       $secondary;
}
///////////////////////////////
#contacts-form {
  position: relative;
  top: 78px;
  width: 625px;
  min-height: 516px;
  background-color: $secondary;
  box-shadow: 0px 20px 40px rgba(39, 95, 158, 0.2);
  border-radius: 10px;

}
.contacts-form__label-user {
  position: relative;
  top: 39px;
  left: 38px;
}
.contacts-form__label-mail {
  position: relative;
  top: -27px;
  left: 328px;
}
.contacts-form__span {
  display: block;
  width: 256px;
  height: 47px;
  border: 2px solid $quaternary;
  border-radius: 30px;
  background-color: $quaternary;
  &.error {
    border-color: $seventeenfold;
  }
  &:focus-within {
    background-color: $secondary;
    border-color: $fivefold;
  }
  &.span-user {
    position: relative;
    top: 15px;
  }
  &.span-mail {
    position: relative;
    top: 13px;
  }
  .contacts-form__input {
    background-color: $quaternary;
    border: none;
    outline: none;
    width: 150px;
    &:focus {
      background-color: $secondary;
    }
    &:focus + .contacts-form__svg {
      fill: $fivefold;
    }
    &:focus + .contacts-form__svg + .contacts-form__svg-error {
      fill: $secondary;
    }
    &.input-user {
      position: relative;
      top: 9px;
      left: 50px;
    }
    &.input-mail {
      position: relative;
      top: 11px;
      left: 48px;
    }
  }
  .contacts-form__svg {
    fill: $elevenfold;
    &.svg-user {
      position: relative;
      top: 13px;
      left: -136px;
      width: 20px;
      height: 20px;
    }
    &.svg-mail {
      position: relative;
      top: 14px;
      left: -136px;
      width: 17.5px;
      height: 17.5px;
    }
  }
  .contacts-form__svg-error {
    position: relative;
    top: 13px;
    left: 40px;
    width: 20px;
    height: 20px;
    fill: $seventeenfold;
  }
}
#contacts-form__label-textarea {
  position: relative;
  top: 16px;
  left: 40px;
  .contacts-form__textarea {
    position: relative;
    top: 14px;
    left: 0;
    width: 510px;
    height: 170px;
    background-color: $quaternary;
    border: 2px solid $quaternary;
    border-radius: 30px;
    outline: none;
    resize: none;
    padding: 13px 18px;
    overflow: hidden;
    &.error {
      border-color: $seventeenfold;
    }
    &:focus {
      background-color: $secondary;
      border-color: $fivefold;
    }
  }
}
.contacts-form__button {
  display: block;
  position: relative;
  top: 70px;
  left: 213px;
  width: 200px;
  min-height: 48px;
  &.error {
    top: 37px;
  }
  #contacts-form__button {
    /*position: relative;
    top: 70px;
    left: 213px;*/
    width: 200px;
    height: 48px;
    background-color: $fivefold;
    border-radius: 33px;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: $twelvefold;
    }
  }
}
