block block12
  section#block12
    div#block12-container
      div.cell-0
        svg#rectangle
          use(xlink:href="svg/icons.svg#rectangle")
        h3 Процесс выполнения монтажа
      each val, i in ['Рассчёт предварительной заявки', 'Замер объекта нашим инженером', 'Составление Коммерческого предложения по изделиям дымохода и окончательной сметы на работы', 'Изготовление Дымохода, покраска (если требуется)', 'Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация', 'Гарантийное обслуживание по соответствующем сроку']
        div(class="block12-container__item cell-"+`${i + 1}`)
          <b>#{i + 1}</b><span>#{val}</span>