block block9
  section#block9
    each val in ['rectangle', 'group1', 'group2', 'bblob1', 'bblob2']
      -val == 'group1' || val == 'group2' ? valTmp = 'group' : val == 'bblob1' || val == 'bblob2' ?  valTmp = 'bblob' :  valTmp = val
      svg(id=val) 
        use(xlink:href="svg/icons.svg#"+`${valTmp}`)
    h3 Видео об установке
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    iframe(src="https://www.youtube.com/embed/s6GZF92o6n4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)