block block11
  section#block11
    h1 НЕОБХОДИМА КОНСУЛЬТАЦИЯ?
      br
      span оставьте заявку или свяжитесь с нами в социальных сетях
    each val in ['vk', 'telegram', 'instagram', 'whatsapp'] 
      svg(id=val)
        use(xlink:href="svg/icons.svg#"+`${val}`)
    form
      span Для <b>консультации</b> заполните форму!
      p С Вами свяжутся в ближайшее время
      input(type="text" id="userName" placeholder="Ваше имя")
      input(type="text" id="userPhone" placeholder="Ваш телефон")
      input(type="button" id="userButton" value="отправить")
    script. 
      const $ = document.getElementById.bind(document),
          userButton = $('userButton'),
          userName = $('userName'),
          userPhone = $('userPhone');
      userButton.addEventListener('click', () => {
        alert('Ваше имя:' + ' ' + userName.value + `\n` +'Ваш телефон:' + ' ' + userPhone.value );
        userName.value = '';
        userPhone.value = '';
      });