block block9-d 
  section#block9-d 
    svg#rectangle
      use(xlink:href="svg/icons.svg#rectangle")
    h3 Фото выполненных работ
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    div#block9-d__conteiner
      each val, i in ['v01', 'v02', 'v03', 'v04', 'v05', 'v06', 'v07', 'v08']
        div 
          img(class="cell-"+i src="img/"+val+".png")
          div#corner 
    