block header 
  header#header-container
    div(class="header-container__item cell-0")
      img(src="img/logo.png")
    -let i = 1
    each val in ['burger-menu', 'vk', 'telegram', 'instagram', 'whatsapp', 'search1', 'search2', 'cart'] 
      div(class="header-container__item cell-"+`${i++}`)
        svg(id=val)
          use(xlink:href="svg/icons.svg#"+`${val}`)
    each val in ['КАТАЛОГ ТОВАРОВ', 'ДОСТАВКА И ОПЛАТА', 'ЦЕНЫ', 'КОНТАКТЫ', '+7&nbsp;(812) <span>509&nbsp;&nbsp;21&nbsp;&nbsp;98</span>', '<b>ПЕРЕЗВОНИТЕ МНЕ</b>']
      div(class="header-container__item cell-"+`${i++}`)!=val

