@import '../../../../common/scss/variables.scss';

// typography
.contacts-form__label,
.contacts-form__textarea,
.contacts-form__input {
  font-family: Inter;
	font-size:   $fontSize14;
	font-style:  $fontStyleNormal;
	font-weight: $fontWeight500;
	line-height: $lineHeight17;
	color:       $elevenfold;
}
.contacts-form__button {
  font-family: Inter;
	font-size:   $fontSize16;
	font-style:  $fontStyleNormal;
	font-weight: $fontWeight700;
	line-height: $lineHeight24;
	color:       $secondary;
}
///////////////////////////////
#contacts-form {
  position: relative;
  top: 78px;
  width: 625px;
  min-height: 516px;
  background-color: $secondary;
  box-shadow: 0px 20px 40px rgba(39, 95, 158, 0.2);
  border-radius: 10px;
}
.contacts-form__label {
  display: inline-block;
  &.name {
    position: relative;
    top: 23px;
    left: 39px;
  }
  &.mail {
    position: relative;
    top: -24px;
    left: 330px;
  }
  &.msg {
    position: relative;
    top: 54px;
    left: 41px;
  }
}
.contacts-form__input {
  display: inline-block;
  padding: 14px 52px;
  width: 152px;
  border: 2px solid $quaternary;
  border-radius: 30px;
  background-color: $quaternary;
  outline: none;
  &:focus {
    background-color: $secondary;
    border-color: $fivefold;
  }
  &.name {
    position: relative;
    top: 49px;
    left: -67px;
  }
  &.mail {
    position: relative;
    top: 49px;
    left: -171px;
  }
  &:focus + .contacts-form__svg {
    fill: $fivefold;
  }
}
.contacts-form__svg {
  display: inline-block;
  width: 20px;
  height: 20px;
  fill: $elevenfold;
  &.name {
    position: relative;
    top: 54px;
    left: -307px;
  }
  &.mail {
    position: relative;
    top: 52px;
    left: -413px;
  }
}
.contacts-form__svg-error {
  display: inline-block;
  width: 20px;
  height: 20px;
  fill: $seventeenfold;
  &.name {
    position: relative;
    top: 54px;
    left: -127px;
  }
  &.mail {
    position: relative;
    top: 54px;
    left: -231px;
  }
}
.contacts-form__textarea {
  position: relative;
  top: 16px;
  left: 0;
  width: 510px;
  height: 170px;
  background-color: $quaternary;
  border: 2px solid $quaternary;
  border-radius: 30px;
  outline: none;
  resize: none;
  padding: 13px 18px;
  overflow: hidden;
  &:focus {
    background-color: $secondary;
    border-color: $fivefold;
  }
}
.contacts-form__button {
  display: inline;
  position: relative;
  top: 106px;
  left: 215px;
  width: 200px;
  height: 48px;
  background-color: $fivefold;
  border-radius: 33px;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: $twelvefold;
  }
}