#block9  {
  width: 290px;
  margin: 0 auto;
  #rectangle {
    position: relative;
    top: 165px;
    left: 0;
    width: 74px;
    height: 5px;
    fill: $fivefold;
  }
  h3 {
    position: relative;
    top: 171px;
    left: -74px;
    float: right;
  }
  p {
    position: relative;
    top: 166px;
    left: 2px;
    float: right;
  }
  #bblob1,
  #bblob2,
  #group1,
  #group2 {
   display: none; 
  }
  iframe {
    position: relative;
    top: 177px;
    left: 2px;
    width: 287px;
    height: 163px;
  }
}