#block9  {
  width: 738px;
  margin: 0 auto;
  #rectangle {
    position: relative;
    top: 130px;
    left: -2px;
    width: 74px;
    height: 5px;
    fill: $fivefold;
  }
  h3 {
    position: relative;
    top: 117px;
    left: -417px;
    float: right;
  }
  p {
    position: relative;
    top: 99px;
    left: 2px;
    float: right;
  }
  #bblob1,
  #bblob2,
  #group1,
  #group2 {
   display: none; 
  }
  iframe {
    position: relative;
    top: 119px;
    left: 2px;
    width: 737px;
    height: 419px;
  }
}