@mixin corner {
  width: 224px;
  height: 206px;
  margin: 0;
  padding: 0;
  background-image: url('data:image/svg+xml,<svg width="50" height="4" viewBox="0 0 50 4" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="50" height="4" fill="rgb(76, 133, 139)"/></svg>'),
  url('data:image/svg+xml,<svg width="4" height="50" viewBox="0 0 4 50" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="4" height="50" fill="rgb(76, 133, 139)"/></svg>'),
  url('data:image/svg+xml,<svg width="50" height="4" viewBox="0 0 50 4" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="50" height="4" fill="rgb(76, 133, 139)"/></svg>'),
  url('data:image/svg+xml,<svg width="4" height="50" viewBox="0 0 4 50" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="4" height="50" fill="rgb(76, 133, 139)"/></svg>');
  background-position: right top, right top, left bottom, left bottom;
  background-repeat: no-repeat;
}
#block9-d {
  width: 738px;
  margin: 0 auto;
  #rectangle {
    position: relative;
    top: 160px;
    left: 0;
    width: 74px;
    height: 5px;
    fill: $fivefold;
  }
  h3 {
    position: relative;
    top: 131px;
    left: 0;
  }
  p {
    position: relative;
    top: 129px;
    left: 2px;
  }
  #block9-d__conteiner {
    position: relative;
    top: 143px;
    left: -9px;
    display: grid;
    grid-template-columns: 226px 226px 226px;
    grid-column-gap: 30px;
    grid-template-rows: 208px 208px 208px;
    grid-row-gap: 30px;
  }
  #corner {
    position: relative;
    top: 5px;
    left: 9px;
    @include corner;
    z-index: 5;
  }
  img {
    position: relative;
    width: 240px;
    height: auto;
    top: 0px;
    left: 1px;
    float: left;
  }
}