#block10  {
  position: relative;
  top: 26px;
  width: 290px;
  margin: 0 auto;
  h3 {
    font-size: 17.3px !important;
  }
  span {
    position: relative;
    top: -1px;
  }
  ul {
    position: relative;
    top: -4px;
    left: -3px; 
    width: 250px;
    li {
      padding-left: 4px; 
      padding-bottom: 20.5px;
    }
    li::marker {
      color: $sixfold;
      font-size: 25px;
    }
  }
  #blob,
  #group1,
  #group2,
  #triangle1,
  #triangle2,
  img {
    display: none;
  }
}
