#block14  {
  position: relative;
  top: -64px;
  width: 1920px;
  height: 350px;
  margin: 0 auto;
  background-color: $tenfold;
  #block14-container {
    width: 1218px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 337px 345px 335px;
    grid-column-gap: 100px;
    grid-template-rows: 170px;
    grid-template-areas:  "cell-0 cell-1 cell-2";
    .cell-0 {
      display: grid;
      grid-template-columns: 130px 130px;
      grid-column-gap: 77px;
      grid-template-rows: 17px 17px 17px 17px;
      grid-row-gap: 19px;
      grid-template-areas:  "cell-0__0 cell-0__4"
                            "cell-0__1 cell-0__5"
                            "cell-0__2 cell-0__6"
                            "cell-0__3 cell-0__7"; 
      h4 {
        position: relative;
        top: -200px;
      }
      .cell-0__0 {
        grid-area: cell-0__0;
      }
      .cell-0__1 {
        grid-area: cell-0__1;
      }
      .cell-0__2 {
        grid-area: cell-0__2;
      }
      .cell-0__3 {
        grid-area: cell-0__3;
      }
      .cell-0__4 {
        grid-area: cell-0__4;
      }
      .cell-0__5 {
        grid-area: cell-0__5;
      }
      .cell-0__6 {
        grid-area: cell-0__6;
      }      
      .cell-0__7 {
        grid-area: cell-0__7;
      }
      grid-area: cell-0;
    }
    .cell-1 {
      display: grid;
      grid-template-columns: 160px 137px;
      grid-column-gap: 48px;
      grid-template-rows: 17px 17px 17px 17px;
      grid-row-gap: 19px;
      grid-template-areas:  "cell-1__0 cell-1__4"
                            "cell-1__1 cell-1__5"
                            "cell-1__2 cell-1__6"
                            "cell-1__3 ."; 
      h4 {
        position: relative;
        top: -164px;
        left: -208px;
      }
      .cell-1__0 {
        grid-area: cell-1__0;
      }
      .cell-1__1 {
        grid-area: cell-1__1;
      }
      .cell-1__2 {
        grid-area: cell-1__2;
      }
      .cell-1__3 {
        grid-area: cell-1__3;
      }
      .cell-1__4 {
        grid-area: cell-1__4;
      }
      .cell-1__5 {
        grid-area: cell-1__5;
      }
      .cell-1__6 {
        grid-area: cell-1__6;
      }
      grid-area: cell-1;
    }
    .cell-2 {
      position: relative;
      left: 50px;
      display: grid;
      grid-template-columns: 335px;
      grid-template-rows: 17px 17px;
      grid-row-gap: 16px;
      grid-template-areas:  "cell-2__0"
                            "cell-2__1"; 
      h4 {
        position: relative;
        top: -124px;
        left: -20px;
      }
      .cell-2__0 {
        grid-area: cell-2__0;
      }
      .cell-2__1 {
        grid-area: cell-2__1;
      }
      grid-area: cell-2;
    }
    .block14-container__item {
      position: relative;
      top: 114px;
      clear: both;
    }
    h4 {
      font-size: 21.5px !important;
      color: $secondary !important; 
    }
    p {
      font-size: 13.5px !important;
      color: $secondary !important; 
      span {
        color: $tertiary;
      }
    }
  }
  #clock {
    position: relative;
    top: -44px;
    left: 1261px;
    width: 15px;
    height: 15px;
  }
  #placeholder {
    position: relative;
    top: -10px;
    left: 1241px;
    width: 17px;
    height: 17px;
  }
  #vk {
    position: relative;
    top: 44px;
    left: 1223px;
    width: 23px;
    height: 23px;
    fill: $tertiary;
  }
  #telegram {
    position: relative;
    top: 44px;
    left: 1256px;
    width: 22px;
    height: 23px;
    fill: $tertiary;
  }
  #instagram {
    position: relative;
    top: 42px;
    left: 1294px;
    width: 18px;
    height: 19px;
    fill: $tertiary;
  }
  #whatsapp {
    position: relative;
    top: 42px;
    left: 1334px;
    width: 18px;
    height: 19px;
    fill: $tertiary;
  }
}