#block11  {
  width: 290px;
  margin: 0 auto;
  h1 {
    position: relative;
    top: 85px;
    left: 1px;
    text-align: center;
    span {
      position: relative;
      top: -4px;
      left: -4px;
      text-align: center;
    }
  }
  #vk {
    position: relative;
    top: 81px;
    left: 45px;
    width: 23px;
    height: 23px;
    fill: $sixfold;
  }
  #telegram {
    position: relative;
    top: 81px;
    left: 78px;
    width: 22px;
    height: 23px;
    fill: $sixfold;
  }
  #instagram {
    position: relative;
    top: 80px;
    left: 114px;
    width: 18px;
    height: 19px;
    fill: $sixfold;
  }
  #whatsapp {
    position: relative;
    top: 80px;
    left: 155px;
    width: 18px;
    height: 19px;
    fill: $sixfold;
  }
  form {
    position: relative;
    top: 102px;
    left: 0;
    width: 290px;
    height: 320px;
    border-top: solid 1px $seventhfold;
    text-align: center;
    span {
      position: relative;
      top: 25px;
      left: 0;
      b {
        color: $sixfold;
      }
    }
    p {
      position: relative;
      top: 21px;
      left: 0;
    }
    input[type=text] {
      width: 284px;
      height: 52px;
      border: solid 1px $seventhfold;
      border-radius: 4px;
      outline: none;
      text-indent: 17px;
      &::placeholder{
        font-family: Montserrat;
        font-size: 14px;
        line-height: 22px;
        color: $eightfold;
      }
    }
    #userName {
      position: relative;
      top: 34px;
      left: 0;
    }
    #userPhone {
      position: relative;
      top: 50px;
      left: 0;
    }
    #userButton {
      position: relative;
      top: 74px;
      left: 0;
      width: 240px;
      height: 56px;
      font-family: Montserrat;
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
      background-color: $ninefold;
      border-radius: 4px;
      border: none;
      color: $secondary;
      cursor: pointer;
    }
  }
}

