#block10  {
  position: relative;
  top: 91px;
  width: 1218px;
  margin: 0 auto;
  span {
    position: relative;
    top: -4px;
  }
  ul {
    position: relative;
    top: -11px;
    width: 513px;
    left: 10px; 
    li {
      padding-left: 3px; 
      padding-bottom: 21px;
    }
    li::marker {
      color: $sixfold;
      font-size: 25px;
    }
  }
  #blob {
    position: relative;
    top: -572px;
    left: 160px;
    width: 766px;
    height: 541px;
    float: right; 
  }
  #group1 {
    position: relative;
    top: -147px;
    left: 997px;
    fill: $primary;
    float: right; 
  }
  #group2 {
    position: relative;
    top: -719px;
    left: 474px;
    fill: $primary;
    float: right; 
  }
  #triangle1 {
    position: relative;
    top: -667px;
    left: 1224px;
    width: 77.51px;
    height: 19.2px;
    float: right;
  }
  #triangle2 {
    position: relative;
    top: -593px;
    left: 555px;
    width: 77.51px;
    height: 19.2px;
    float: right;
  }
  img {
    position: relative;
    top: -1142px;
    left: 50px;
    width: 477px;
    height: 459px;
    float: right;
  }
}
