@import "./variables.scss";
body {
  padding: 0;
  margin:  0;
  background-color: $secondary;
}

@media screen and (min-width: 1920px) {
  @import "./typography-desktop.scss";
  @import "./header-desktop.scss";
  @import "./title-desktop.scss";
  @import "./breadcrumbs-desktop.scss";
  @import "./caption-desktop.scss";
  @import "./block10-desktop.scss";
  @import "./block12-desktop.scss";
  @import "./block7-desktop.scss";
  @import "./block11-desktop.scss";
  @import "./block9-desktop.scss";
  @import "./block9-d-desktop.scss";
  @import "./block14-desktop.scss";
}

@media screen and (min-width: 768px) and (max-width: 1919.9px) {
  @import "./typography-tablet.scss";
  @import "./header-tablet.scss";
  @import "./title-tablet.scss";
  @import "./breadcrumbs-tablet.scss";
  @import "./caption-tablet.scss";
  @import "./block10-tablet.scss";
  @import "./block12-tablet.scss";
  @import "./block7-tablet.scss";
  @import "./block11-tablet.scss";
  @import "./block9-tablet.scss";
  @import "./block9-d-tablet.scss";
  @import "./block14-tablet.scss";
}
@media screen and (max-width: 767.9px) {
  @import "./typography-mobile.scss";
  @import "./header-mobile.scss";
  @import "./title-mobile.scss";
  @import "./breadcrumbs-mobile.scss";
  @import "./caption-mobile.scss";
  @import "./block10-mobile.scss";
  @import "./block12-mobile.scss";
  @import "./block7-mobile.scss";
  @import "./block11-mobile.scss";
  @import "./block9-mobile.scss";
  @import "./block9-d-mobile.scss";
  @import "./block14-mobile.scss";
}

