#title {
  width: 320px;
  margin: 0 auto;
  hr {
    position: relative;
    top: 19px;
    width: 290px;
    color: $seventhfold;
  }
  h2 {
    position: relative;
    top: 35px;
    left: 15px;
  }
}