#title {
  width: 768px;
  margin: 0 auto;
  hr {
    position: relative;
    top: 36px;
    width: 738px;
    color: $seventhfold;
  }
  h2 {
    position: relative;
    top: 56px;
    left: 14px;
  }
}