.header-container__item {
	font-family: Montserrat;
	font-size:   $fontSize16;
	font-style:  $fontStyleNormal;
	font-weight: $fontWeight700;
	line-height: $lineHeight23;
	color:       $tertiary;
}
h1 {
	font-family: Montserrat;
	font-size:   $fontSize50;
	font-style:  $fontStyleNormal;
	font-weight: $fontWeight800;
	line-height: $lineHeight40;
	color:       $primary;
	span {
		font-family: Montserrat;
		font-size:   $fontSize21;
		font-style:  $fontStyleNormal;
		font-weight: $fontWeight300;
		line-height: $lineHeight40;
		color:       $primary;
	}
}
h2 {
	font-family: Montserrat;
	font-size:   $fontSize60;
	font-style:  $fontStyleNormal;
	font-weight: $fontWeight700;
	line-height: $lineHeight73;
	color:       $primary;
}
h3 {
	font-family: Montserrat;
	font-size:   $fontSize40;
	font-style:  $fontStyleNormal;
	font-weight: $fontWeight400;
	line-height: $lineHeight63;
	color:       $primary;
	span {
		font-family: Montserrat;
		font-size:   $fontSize49;
		font-style:  $fontStyleNormal;
		font-weight: $fontWeight800;
		line-height: $lineHeight63;
		color:       $fivefold;
	}
}
h4 {
	font-family: Montserrat;
	font-size:   $fontSize20;
	font-style:  $fontStyleNormal;
	font-weight: $fontWeight700;
	line-height: $lineHeight30;
	color:       $primary;
}
h5 {
	font-family: Montserrat;
	font-size:   $fontSize12;
	font-style:  $fontStyleNormal;
	font-weight: $fontWeight400;
	line-height: $lineHeight15;
	color:       $tertiary;
}
p {
	font-family: Montserrat;
	font-size:   $fontSize16;
	font-style:  $fontStyleNormal;
	font-weight: $fontWeight400;
	line-height: $lineHeight30;
	color:       $primary;
}
li {
	font-family: Montserrat;
	font-size:   $fontSize16;
	font-style:  $fontStyleNormal;
	font-weight: $fontWeight400;
	line-height: $lineHeight24;
	color:       $primary;
}
.block12-container__item {
	span {
		font-family: Montserrat;
		font-size:   $fontSize16;
		font-style:  $fontStyleNormal;
		font-weight: $fontWeight400;
		line-height: $lineHeight30;
		color:       $primary;
	}
	b {
		font-family: Montserrat;
		font-size:   $fontSize70;
		font-style:  $fontStyleNormal;
		font-weight: $fontWeight700;
		line-height: $lineHeight85;
		color:       $fivefold;
		opacity: 		 0.2;
	}
}
form {
	span {
		font-family: Montserrat;
		font-size:   $fontSize20_;
		font-style:  $fontStyleNormal;
		font-weight: $fontWeight500;
		line-height: $lineHeight22;
		color:       $primary;	
	}
}