$primary:    #000000;
$secondary:  #FFFFFF;
$tertiary:   #4c858b;
$quaternary: #AE2236;
$fivefold:   #E33E54;
$sixfold:    #EA6628;
$seventhfold:#E5E5E5;
$eightfold:  #B1B1B1;
$ninefold:   #215359;
$tenfold:    #0C2F33;

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat.eot') format('enbedded-opentype'), url('../fonts/Montserrat.ttf') format('truetype'), url('../fonts/Montserrat.woff') format('woff');
}

$fontSize12:            11.7px;
$fontSize14:            13.5px;
$fontSize16:            15.5px;
$fontSize18:            17.5px;
$fontSize20:            19.3px;
$fontSize20_:           19.7px;
$fontSize21:            20.9px;
$fontSize22:            22px;
$fontSize29:            28.9px;
$fontSize30:            29.5px;
$fontSize40:            40px;
$fontSize45:            44.5px;
$fontSize49:            49px;
$fontSize50:            49.6px;
$fontSize60:            59.5px;
$fontSize70:            70px;


$fontStyleNormal:       normal;


$fontWeight300:         300;
$fontWeight400:         400;
$fontWeight500:         500;
$fontWeight600:         600;
$fontWeight700:         700;
$fontWeight800:         800;


$lineHeight15:          15px;
$lineHeight16:          16px;
$lineHeight22:          22px;
$lineHeight23:          23px;
$lineHeight24:          23.5px;
$lineHeight26:          26px;
$lineHeight30:          30px;
$lineHeight40:          40px;
$lineHeight37:          37px;
$lineHeight52:          52px;
$lineHeight55:          55px;
$lineHeight61:          61px;
$lineHeight63:          63px;
$lineHeight73:          73px;
$lineHeight85:          85px;