@import '../../../common/scss/variables.scss';

// typography
#newsgroup-h4 {
	font-family: Inter;
	font-size:   $fontSize14;
	font-style:  $fontStyleNormal;
	font-weight: $fontWeight400;
	line-height: $lineHeight100;
	color:       $elevenfold;
}
#newsgroup-h2 {
	font-family: Inter;
	font-size:   $fontSize30;
	font-style:  $fontStyleNormal;
	font-weight: $fontWeight700;
	line-height: $lineHeight100;
	color:       $primary;
}
///////////////////////////////
#newsgroup {
  display: block;
  width: 100%;
  background-image: url('../../../common/svg/backgroundsearch.svg');
  background-position: right 30px;
  background-repeat: no-repeat;
  overflow: hidden;
}
#newsgroup-house {
  position: relative;
  top: 40px;
  left: 71px;
  width: 30px;
  height: 12px;
  fill: $fivefold;
}
#newsgroup-point {
  position: relative;
  top: 36px;
  left: 69px;
  width: 4px;
  height: 4px;
  fill: $fivefold;
}
#newsgroup-h4 {
  position: relative;
  top: 4px;
  left: 109px;
}
#newsgroup-h2 {
  position: relative;
  top: 5px;
  left: 80px;
}